<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /mellow-motion/backend/

  # Als het geen echt bestand of map is, naar index.php
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.php [QSA,L]
</IfModule>
